@media print 
{
    html body > :not(.print) 
    {
      display: unset !important;
    }
}

@font-face

/* 0 */
    {
    font-family: MJXZERO;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Zero.woff") format("woff");
}

@font-face

/* 1 */
    {
    font-family: MJXTEX;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff") format("woff");
}

@font-face

/* 2 */
    {
    font-family: MJXTEX-B;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Main-Bold.woff") format("woff");
}

@font-face

/* 3 */
    {
    font-family: MJXTEX-I;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff") format("woff");
}

@font-face

/* 4 */
    {
    font-family: MJXTEX-MI;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Main-Italic.woff") format("woff");
}

@font-face

/* 5 */
    {
    font-family: MJXTEX-BI;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Math-BoldItalic.woff") format("woff");
}

@font-face

/* 6 */
    {
    font-family: MJXTEX-S1;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size1-Regular.woff") format("woff");
}

@font-face

/* 7 */
    {
    font-family: MJXTEX-S2;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size2-Regular.woff") format("woff");
}

@font-face

/* 8 */
    {
    font-family: MJXTEX-S3;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size3-Regular.woff") format("woff");
}

@font-face

/* 9 */
    {
    font-family: MJXTEX-S4;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size4-Regular.woff") format("woff");
}

@font-face

/* 10 */
    {
    font-family: MJXTEX-A;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_AMS-Regular.woff") format("woff");
}

@font-face

/* 11 */
    {
    font-family: MJXTEX-C;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Regular.woff") format("woff");
}

@font-face

/* 12 */
    {
    font-family: MJXTEX-CB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Bold.woff") format("woff");
}

@font-face

/* 13 */
    {
    font-family: MJXTEX-FR;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Fraktur-Regular.woff") format("woff");
}

@font-face

/* 14 */
    {
    font-family: MJXTEX-FRB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Fraktur-Bold.woff") format("woff");
}

@font-face

/* 15 */
    {
    font-family: MJXTEX-SS;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_SansSerif-Regular.woff") format("woff");
}

@font-face

/* 16 */
    {
    font-family: MJXTEX-SSB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_SansSerif-Bold.woff") format("woff");
}

@font-face

/* 17 */
    {
    font-family: MJXTEX-SSI;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_SansSerif-Italic.woff") format("woff");
}

@font-face

/* 18 */
    {
    font-family: MJXTEX-SC;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Script-Regular.woff") format("woff");
}

@font-face

/* 19 */
    {
    font-family: MJXTEX-T;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Typewriter-Regular.woff") format("woff");
}

@font-face

/* 20 */
    {
    font-family: MJXTEX-V;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Vector-Regular.woff") format("woff");
}

@font-face

/* 21 */
    {
    font-family: MJXTEX-VB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Vector-Bold.woff") format("woff");
}

/* obsidian editor css */
.ͼ1.cm-editor.cm-focused {
    outline: 1px dotted #212121;
}

.ͼ1.cm-editor {
    position: relative !important;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
}

.ͼ1 .cm-scroller {
    display: flex !important;
    align-items: flex-start !important;
    font-family: monospace;
    line-height: 1.4;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
}

.ͼ1 .cm-content[contenteditable=true] {
    -webkit-user-modify: read-write-plaintext-only;
}

.ͼ1 .cm-content {
    margin: 0;
    flex-grow: 2;
    flex-shrink: 0;
    min-height: 100%;
    display: block;
    white-space: pre;
    word-wrap: normal;
    box-sizing: border-box;
    padding: 4px 0;
    outline: none;
}

.ͼ1 .cm-lineWrapping {
    white-space: pre-wrap;
    white-space: break-spaces;
    word-break: break-word;
    overflow-wrap: anywhere;
    flex-shrink: 1;
}

.ͼ2 .cm-content {
    caret-color: black;
}

.ͼ3 .cm-content {
    caret-color: white;
}

.ͼ1 .cm-line {
    display: block;
    padding: 0 2px 0 4px;
}

.ͼ1 .cm-selectionLayer {
    z-index: -1;
    contain: size style;
}

.ͼ1 .cm-selectionBackground {
    position: absolute;
}

.ͼ2 .cm-selectionBackground {
    background: #d9d9d9;
}

.ͼ3 .cm-selectionBackground {
    background: #222;
}

.ͼ2.cm-focused .cm-selectionBackground {
    background: #d7d4f0;
}

.ͼ3.cm-focused .cm-selectionBackground {
    background: #233;
}

.ͼ1 .cm-cursorLayer {
    z-index: 100;
    contain: size style;
    pointer-events: none;
}

.ͼ1.cm-focused .cm-cursorLayer {
    animation: steps(1) cm-blink 1.2s infinite;
}

@keyframes cm-blink {
    50% {
        opacity: 0;
    }
}

@keyframes cm-blink2 {
    50% {
        opacity: 0;
    }
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
    position: absolute;
    border-left: 1.2px solid black;
    margin-left: -0.6px;
    pointer-events: none;
}

.ͼ1 .cm-cursor {
    display: none;
}

.ͼ3 .cm-cursor {
    border-left-color: #444;
}

.ͼ1.cm-focused .cm-cursor {
    display: block;
}

.ͼ2 .cm-activeLine {
    background-color: #cceeff44;
}

.ͼ3 .cm-activeLine {
    background-color: #99eeff33;
}

.ͼ2 .cm-specialChar {
    color: red;
}

.ͼ3 .cm-specialChar {
    color: #f78;
}

.ͼ1 .cm-gutters {
    flex-shrink: 0;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    z-index: 200;
}

.ͼ2 .cm-gutters {
    background-color: #f5f5f5;
    color: #6c6c6c;
    border-right: 1px solid #ddd;
}

.ͼ3 .cm-gutters {
    background-color: #333338;
    color: #ccc;
}

.ͼ1 .cm-gutter {
    display: flex !important;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 100%;
    overflow: hidden;
}

.ͼ1 .cm-gutterElement {
    box-sizing: border-box;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
}

.ͼ2 .cm-activeLineGutter {
    background-color: #e2f2ff;
}

.ͼ3 .cm-activeLineGutter {
    background-color: #222227;
}

.ͼ1 .cm-panels {
    box-sizing: border-box;
    position: sticky;
    left: 0;
    right: 0;
}

.ͼ2 .cm-panels {
    background-color: #f5f5f5;
    color: black;
}

.ͼ2 .cm-panels-top {
    border-bottom: 1px solid #ddd;
}

.ͼ2 .cm-panels-bottom {
    border-top: 1px solid #ddd;
}

.ͼ3 .cm-panels {
    background-color: #333338;
    color: white;
}

.ͼ1 .cm-tab {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.ͼ1 .cm-widgetBuffer {
    vertical-align: text-top;
    height: 1em;
    width: 0;
    display: inline;
}

.ͼ1 .cm-placeholder {
    color: #888;
    display: inline-block;
    vertical-align: top;
}

.ͼ1 .cm-button {
    vertical-align: middle;
    color: inherit;
    font-size: 70%;
    padding: .2em 1em;
    border-radius: 1px;
}

.ͼ2 .cm-button:active {
    background-image: linear-gradient(#b4b4b4, #d0d3d6);
}

.ͼ2 .cm-button {
    background-image: linear-gradient(#eff1f5, #d9d9df);
    border: 1px solid #888;
}

.ͼ3 .cm-button:active {
    background-image: linear-gradient(#111, #333);
}

.ͼ3 .cm-button {
    background-image: linear-gradient(#393939, #111);
    border: 1px solid #888;
}

.ͼ1 .cm-textfield {
    vertical-align: middle;
    color: inherit;
    font-size: 70%;
    border: 1px solid silver;
    padding: .2em .5em;
}

.ͼ2 .cm-textfield {
    background-color: white;
}

.ͼ3 .cm-textfield {
    border: 1px solid #555;
    background-color: inherit;
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor .cm-tooltip-arrow:before {
    border-top-color: var(--background-modifier-border);
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor .cm-tooltip-arrow:after {
    border-top-color: var(--background-primary);
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor {
    background-color: var(--background-primary);
    color: var(--text-normal);
    border: 1px solid var(--background-modifier-border);
    padding: 2px 7px;
    border-radius: 6px;
}

.ͼ1 .cm-tooltip {
    z-index: 100;
}

.ͼ2 .cm-tooltip {
    border: 1px solid #bbb;
    background-color: #f5f5f5;
}

.ͼ2 .cm-tooltip-section:not(:first-child) {
    border-top: 1px solid #bbb;
}

.ͼ3 .cm-tooltip {
    background-color: #333338;
    color: white;
}

.ͼ1 .cm-tooltip-arrow:before,
.ͼ1 .cm-tooltip-arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow:before {
    border-top: 7px solid #bbb;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow:after {
    border-top: 7px solid #f5f5f5;
    bottom: 1px;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow {
    bottom: -7px;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow:before {
    border-bottom: 7px solid #bbb;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow:after {
    border-bottom: 7px solid #f5f5f5;
    top: 1px;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow {
    top: -7px;
}

.ͼ1 .cm-tooltip-arrow {
    height: 7px;
    width: 14px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.ͼ3 .cm-tooltip .cm-tooltip-arrow:before {
    border-top-color: #333338;
    border-bottom-color: #333338;
}

.ͼ3 .cm-tooltip .cm-tooltip-arrow:after {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.ͼ1 .cm-foldPlaceholder {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #888;
    border-radius: .2em;
    margin: 0 1px;
    padding: 0 1px;
    cursor: pointer;
}

.ͼ1 .cm-foldGutter span {
    padding: 0 1px;
    cursor: pointer;
}

.ͼq .cm-content {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}