@media print 
{
    
    html body> :not(.print) 
    {
        display: unset !important;
    }

    .collapse-indicator
    {
        display: none !important;
    }

    .is-collapsed > element > .collapse-indicator
    {
        display: unset !important;
    }
}

.list-collapse-indicator
{
    display: none !important;
}
@font-face
{
    font-family: MJXZERO;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Zero.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-B;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Main-Bold.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-I;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-MI;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Main-Italic.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-BI;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Math-BoldItalic.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-S1;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size1-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-S2;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size2-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-S3;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size3-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-S4;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Size4-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-A;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_AMS-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-C;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-CB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Bold.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-FR;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Fraktur-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-FRB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Fraktur-Bold.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-SS;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_SansSerif-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-SSB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_SansSerif-Bold.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-SSI;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_SansSerif-Italic.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-SC;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Script-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-T;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Typewriter-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-V;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Vector-Regular.woff") format("woff");
}

@font-face
{
    font-family: MJXTEX-VB;
    src: url("https://publish.obsidian.md/lib/mathjax/output/chtml/fonts/woff-v2/MathJax_Vector-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/94f2f163d4b698242fef.otf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/72505e6a122c6acd5471.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/2d5198822ab091ce4305.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/c8ba52b05a9ef10f4758.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/cb10ffd7684cd9836a05.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/b5f0f109bc88052d4000.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/cbe0ae49c52c920fd563.woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: italic;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/535a6cf662596b3bd6a6.woff2');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/70cc7ff27245e82ad414.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/454577c22304619db035.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/52ac8f3034507f1d9e53.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/05b618077343fbbd92b7.ttf');
}

@font-face {
    font-family: 'Flow Circular';
    font-display: swap;
    src: url('https://publish.obsidian.md/public/fonts/853ff76f08786ae44ca0.woff');
}

/* obsidian editor css */
.ͼ1.cm-editor.cm-focused {
    outline: 1px dotted #212121;
}

.ͼ1.cm-editor {
    position: relative !important;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
}

.ͼ1 .cm-scroller {
    display: flex !important;
    align-items: flex-start !important;
    font-family: monospace;
    line-height: 1.4;
    height: 100%;
    overflow-x: auto;
    position: relative;
    z-index: 0;
}

.ͼ1 .cm-content[contenteditable=true] {
    -webkit-user-modify: read-write-plaintext-only;
}

.ͼ1 .cm-content {
    margin: 0;
    flex-grow: 2;
    flex-shrink: 0;
    min-height: 100%;
    display: block;
    white-space: pre;
    word-wrap: normal;
    box-sizing: border-box;
    padding: 4px 0;
    outline: none;
}

.ͼ1 .cm-lineWrapping {
    white-space: pre-wrap;
    white-space: break-spaces;
    word-break: break-word;
    overflow-wrap: anywhere;
    flex-shrink: 1;
}

.ͼ2 .cm-content {
    caret-color: black;
}

.ͼ3 .cm-content {
    caret-color: white;
}

.ͼ1 .cm-line {
    display: block;
    padding: 0 2px 0 4px;
}

.ͼ1 .cm-selectionLayer {
    z-index: -1;
    contain: size style;
}

.ͼ1 .cm-selectionBackground {
    position: absolute;
}

.ͼ2 .cm-selectionBackground {
    background: #d9d9d9;
}

.ͼ3 .cm-selectionBackground {
    background: #222;
}

.ͼ2.cm-focused .cm-selectionBackground {
    background: #d7d4f0;
}

.ͼ3.cm-focused .cm-selectionBackground {
    background: #233;
}

.ͼ1 .cm-cursorLayer {
    z-index: 100;
    contain: size style;
    pointer-events: none;
}

.ͼ1.cm-focused .cm-cursorLayer {
    animation: steps(1) cm-blink 1.2s infinite;
}

@keyframes cm-blink {
    50% {
        opacity: 0;
    }
}

@keyframes cm-blink2 {
    50% {
        opacity: 0;
    }
}

.ͼ1 .cm-cursor,
.ͼ1 .cm-dropCursor {
    position: absolute;
    border-left: 1.2px solid black;
    margin-left: -0.6px;
    pointer-events: none;
}

.ͼ1 .cm-cursor {
    display: none;
}

.ͼ3 .cm-cursor {
    border-left-color: #444;
}

.ͼ1.cm-focused .cm-cursor {
    display: block;
}

.ͼ2 .cm-activeLine {
    background-color: #cceeff44;
}

.ͼ3 .cm-activeLine {
    background-color: #99eeff33;
}

.ͼ2 .cm-specialChar {
    color: red;
}

.ͼ3 .cm-specialChar {
    color: #f78;
}

.ͼ1 .cm-gutters {
    flex-shrink: 0;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    z-index: 200;
}

.ͼ2 .cm-gutters {
    background-color: #f5f5f5;
    color: #6c6c6c;
    border-right: 1px solid #ddd;
}

.ͼ3 .cm-gutters {
    background-color: #333338;
    color: #ccc;
}

.ͼ1 .cm-gutter {
    display: flex !important;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 100%;
    overflow: hidden;
}

.ͼ1 .cm-gutterElement {
    box-sizing: border-box;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    white-space: nowrap;
}

.ͼ2 .cm-activeLineGutter {
    background-color: #e2f2ff;
}

.ͼ3 .cm-activeLineGutter {
    background-color: #222227;
}

.ͼ1 .cm-panels {
    box-sizing: border-box;
    position: sticky;
    left: 0;
    right: 0;
}

.ͼ2 .cm-panels {
    background-color: #f5f5f5;
    color: black;
}

.ͼ2 .cm-panels-top {
    border-bottom: 1px solid #ddd;
}

.ͼ2 .cm-panels-bottom {
    border-top: 1px solid #ddd;
}

.ͼ3 .cm-panels {
    background-color: #333338;
    color: white;
}

.ͼ1 .cm-tab {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.ͼ1 .cm-widgetBuffer {
    vertical-align: text-top;
    height: 1em;
    width: 0;
    display: inline;
}

.ͼ1 .cm-placeholder {
    color: #888;
    display: inline-block;
    vertical-align: top;
}

.ͼ1 .cm-button {
    vertical-align: middle;
    color: inherit;
    font-size: 70%;
    padding: .2em 1em;
    border-radius: 1px;
}

.ͼ2 .cm-button:active {
    background-image: linear-gradient(#b4b4b4, #d0d3d6);
}

.ͼ2 .cm-button {
    background-image: linear-gradient(#eff1f5, #d9d9df);
    border: 1px solid #888;
}

.ͼ3 .cm-button:active {
    background-image: linear-gradient(#111, #333);
}

.ͼ3 .cm-button {
    background-image: linear-gradient(#393939, #111);
    border: 1px solid #888;
}

.ͼ1 .cm-textfield {
    vertical-align: middle;
    color: inherit;
    font-size: 70%;
    border: 1px solid silver;
    padding: .2em .5em;
}

.ͼ2 .cm-textfield {
    background-color: white;
}

.ͼ3 .cm-textfield {
    border: 1px solid #555;
    background-color: inherit;
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor .cm-tooltip-arrow:before {
    border-top-color: var(--background-modifier-border);
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor .cm-tooltip-arrow:after {
    border-top-color: var(--background-primary);
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.ͼ1 .cm-tooltip.cm-tooltip-cursor {
    background-color: var(--background-primary);
    color: var(--text-normal);
    border: 1px solid var(--background-modifier-border);
    padding: 2px 7px;
    border-radius: 6px;
}

.ͼ1 .cm-tooltip {
    z-index: 100;
}

.ͼ2 .cm-tooltip {
    border: 1px solid #bbb;
    background-color: #f5f5f5;
}

.ͼ2 .cm-tooltip-section:not(:first-child) {
    border-top: 1px solid #bbb;
}

.ͼ3 .cm-tooltip {
    background-color: #333338;
    color: white;
}

.ͼ1 .cm-tooltip-arrow:before,
.ͼ1 .cm-tooltip-arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow:before {
    border-top: 7px solid #bbb;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow:after {
    border-top: 7px solid #f5f5f5;
    bottom: 1px;
}

.ͼ1 .cm-tooltip-above .cm-tooltip-arrow {
    bottom: -7px;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow:before {
    border-bottom: 7px solid #bbb;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow:after {
    border-bottom: 7px solid #f5f5f5;
    top: 1px;
}

.ͼ1 .cm-tooltip-below .cm-tooltip-arrow {
    top: -7px;
}

.ͼ1 .cm-tooltip-arrow {
    height: 7px;
    width: 14px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.ͼ3 .cm-tooltip .cm-tooltip-arrow:before {
    border-top-color: #333338;
    border-bottom-color: #333338;
}

.ͼ3 .cm-tooltip .cm-tooltip-arrow:after {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.ͼ1 .cm-foldPlaceholder {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #888;
    border-radius: .2em;
    margin: 0 1px;
    padding: 0 1px;
    cursor: pointer;
}

.ͼ1 .cm-foldGutter span {
    padding: 0 1px;
    cursor: pointer;
}

.ͼq .cm-content {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}


mjx-container[jax="CHTML"] {
    line-height: 0;
}

mjx-container [space="1"] {
    margin-left: .111em;
}

mjx-container [space="2"] {
    margin-left: .167em;
}

mjx-container [space="3"] {
    margin-left: .222em;
}

mjx-container [space="4"] {
    margin-left: .278em;
}

mjx-container [space="5"] {
    margin-left: .333em;
}

mjx-container [rspace="1"] {
    margin-right: .111em;
}

mjx-container [rspace="2"] {
    margin-right: .167em;
}

mjx-container [rspace="3"] {
    margin-right: .222em;
}

mjx-container [rspace="4"] {
    margin-right: .278em;
}

mjx-container [rspace="5"] {
    margin-right: .333em;
}

mjx-container [size="s"] {
    font-size: 70.7%;
}

mjx-container [size="ss"] {
    font-size: 50%;
}

mjx-container [size="Tn"] {
    font-size: 60%;
}

mjx-container [size="sm"] {
    font-size: 85%;
}

mjx-container [size="lg"] {
    font-size: 120%;
}

mjx-container [size="Lg"] {
    font-size: 144%;
}

mjx-container [size="LG"] {
    font-size: 173%;
}

mjx-container [size="hg"] {
    font-size: 207%;
}

mjx-container [size="HG"] {
    font-size: 249%;
}

mjx-container [width="full"] {
    width: 100%;
}

mjx-box {
    display: inline-block;
}

mjx-block {
    display: block;
}

mjx-itable {
    display: inline-table;
}

mjx-row {
    display: table-row;
}

mjx-row>* {
    display: table-cell;
}

mjx-mtext {
    display: inline-block;
    text-align: left;
}

mjx-mstyle {
    display: inline-block;
}

mjx-merror {
    display: inline-block;
    color: red;
    background-color: yellow;
}

mjx-mphantom {
    visibility: hidden;
}

_::-webkit-full-page-media,
_:future,
:root mjx-container {
    will-change: opacity;
}

mjx-assistive-mml {
    position: absolute !important;
    top: 0px;
    left: 0px;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 1px 0px 0px 0px !important;
    border: 0px !important;
    display: block !important;
    width: auto !important;
    overflow: hidden !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

mjx-assistive-mml[display="block"] {
    width: 100% !important;
}

mjx-math {
    display: inline-block;
    text-align: left;
    line-height: 0;
    text-indent: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    font-size-adjust: none;
    letter-spacing: normal;
    border-collapse: collapse;
    word-wrap: normal;
    word-spacing: normal;
    white-space: nowrap;
    direction: ltr;
    padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] {
    display: block;
    text-align: center;
    margin: 1em 0;
}

mjx-container[jax="CHTML"][display="true"][width="full"] {
    display: flex;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
    padding: 0;
}

mjx-container[jax="CHTML"][justify="left"] {
    text-align: left;
}

mjx-container[jax="CHTML"][justify="right"] {
    text-align: right;
}

mjx-mo {
    display: inline-block;
    text-align: left;
}

mjx-stretchy-h {
    display: inline-table;
    width: 100%;
}

mjx-stretchy-h>* {
    display: table-cell;
    width: 0;
}

mjx-stretchy-h>*>mjx-c {
    display: inline-block;
    transform: scalex(1.0000001);
}

mjx-stretchy-h>*>mjx-c::before {
    display: inline-block;
    width: initial;
}

mjx-stretchy-h>mjx-ext {
    /* IE */
    overflow: hidden;
    /* others */
    overflow: clip visible;
    width: 100%;
}

mjx-stretchy-h>mjx-ext>mjx-c::before {
    transform: scalex(500);
}

mjx-stretchy-h>mjx-ext>mjx-c {
    width: 0;
}

mjx-stretchy-h>mjx-beg>mjx-c {
    margin-right: -.1em;
}

mjx-stretchy-h>mjx-end>mjx-c {
    margin-left: -.1em;
}

mjx-stretchy-v {
    display: inline-block;
}

mjx-stretchy-v>* {
    display: block;
}

mjx-stretchy-v>mjx-beg {
    height: 0;
}

mjx-stretchy-v>mjx-end>mjx-c {
    display: block;
}

mjx-stretchy-v>*>mjx-c {
    transform: scaley(1.0000001);
    transform-origin: left center;
    overflow: hidden;
}

mjx-stretchy-v>mjx-ext {
    display: block;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid transparent;
    /* IE */
    overflow: hidden;
    /* others */
    overflow: visible clip;
}

mjx-stretchy-v>mjx-ext>mjx-c::before {
    width: initial;
    box-sizing: border-box;
}

mjx-stretchy-v>mjx-ext>mjx-c {
    transform: scaleY(500) translateY(.075em);
    overflow: visible;
}

mjx-mark {
    display: inline-block;
    height: 0px;
}

mjx-c {
    display: inline-block;
}

mjx-utext {
    display: inline-block;
    padding: .75em 0 .2em 0;
}

mjx-mn {
    display: inline-block;
    text-align: left;
}

mjx-TeXAtom {
    display: inline-block;
    text-align: left;
}

mjx-mfrac {
    display: inline-block;
    text-align: left;
}

mjx-frac {
    display: inline-block;
    vertical-align: 0.17em;
    padding: 0 .22em;
}

mjx-frac[type="d"] {
    vertical-align: .04em;
}

mjx-frac[delims] {
    padding: 0 .1em;
}

mjx-frac[atop] {
    padding: 0 .12em;
}

mjx-frac[atop][delims] {
    padding: 0;
}

mjx-dtable {
    display: inline-table;
    width: 100%;
}

mjx-dtable>* {
    font-size: 2000%;
}

mjx-dbox {
    display: block;
    font-size: 5%;
}

mjx-num {
    display: block;
    text-align: center;
}

mjx-den {
    display: block;
    text-align: center;
}

mjx-mfrac[bevelled]>mjx-num {
    display: inline-block;
}

mjx-mfrac[bevelled]>mjx-den {
    display: inline-block;
}

mjx-den[align="right"],
mjx-num[align="right"] {
    text-align: right;
}

mjx-den[align="left"],
mjx-num[align="left"] {
    text-align: left;
}

mjx-nstrut {
    display: inline-block;
    height: .054em;
    width: 0;
    vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
    height: .217em;
    vertical-align: -.217em;
}

mjx-dstrut {
    display: inline-block;
    height: .505em;
    width: 0;
}

mjx-dstrut[type="d"] {
    height: .726em;
}

mjx-line {
    display: block;
    box-sizing: border-box;
    min-height: 1px;
    height: .06em;
    border-top: .06em solid;
    margin: .06em -.1em;
    overflow: hidden;
}

mjx-line[type="d"] {
    margin: .18em -.1em;
}

mjx-mrow {
    display: inline-block;
    text-align: left;
}

mjx-mi {
    display: inline-block;
    text-align: left;
}

mjx-c::before {
    display: block;
    width: 0;
}

.MJX-TEX {
    font-family: MJXZERO, MJXTEX;
}

.TEX-B {
    font-family: MJXZERO, MJXTEX-B;
}

.TEX-I {
    font-family: MJXZERO, MJXTEX-I;
}

.TEX-MI {
    font-family: MJXZERO, MJXTEX-MI;
}

.TEX-BI {
    font-family: MJXZERO, MJXTEX-BI;
}

.TEX-S1 {
    font-family: MJXZERO, MJXTEX-S1;
}

.TEX-S2 {
    font-family: MJXZERO, MJXTEX-S2;
}

.TEX-S3 {
    font-family: MJXZERO, MJXTEX-S3;
}

.TEX-S4 {
    font-family: MJXZERO, MJXTEX-S4;
}

.TEX-A {
    font-family: MJXZERO, MJXTEX-A;
}

.TEX-C {
    font-family: MJXZERO, MJXTEX-C;
}

.TEX-CB {
    font-family: MJXZERO, MJXTEX-CB;
}

.TEX-FR {
    font-family: MJXZERO, MJXTEX-FR;
}

.TEX-FRB {
    font-family: MJXZERO, MJXTEX-FRB;
}

.TEX-SS {
    font-family: MJXZERO, MJXTEX-SS;
}

.TEX-SSB {
    font-family: MJXZERO, MJXTEX-SSB;
}

.TEX-SSI {
    font-family: MJXZERO, MJXTEX-SSI;
}

.TEX-SC {
    font-family: MJXZERO, MJXTEX-SC;
}

.TEX-T {
    font-family: MJXZERO, MJXTEX-T;
}

.TEX-V {
    font-family: MJXZERO, MJXTEX-V;
}

.TEX-VB {
    font-family: MJXZERO, MJXTEX-VB;
}

mjx-stretchy-v mjx-c,
mjx-stretchy-h mjx-c {
    font-family: MJXZERO, MJXTEX-S1, MJXTEX-S4, MJXTEX, MJXTEX-A ! important;
}

mjx-c.mjx-c28::before {
    padding: 0.75em 0.389em 0.25em 0;
    content: "(";
}

mjx-c.mjx-c31::before {
    padding: 0.666em 0.5em 0 0;
    content: "1";
}

mjx-c.mjx-c30::before {
    padding: 0.666em 0.5em 0.022em 0;
    content: "0";
}

mjx-c.mjx-c2C::before {
    padding: 0.121em 0.278em 0.194em 0;
    content: ",";
}

mjx-c.mjx-c39::before {
    padding: 0.666em 0.5em 0.022em 0;
    content: "9";
}

mjx-c.mjx-c29::before {
    padding: 0.75em 0.389em 0.25em 0;
    content: ")";
}

mjx-c.mjx-c5C::before {
    padding: 0.75em 0.5em 0.25em 0;
    content: "\5C";
}

mjx-c.mjx-c66::before {
    padding: 0.705em 0.372em 0 0;
    content: "f";
}

mjx-c.mjx-c6C::before {
    padding: 0.694em 0.278em 0 0;
    content: "l";
}

mjx-c.mjx-c6F::before {
    padding: 0.448em 0.5em 0.01em 0;
    content: "o";
}

mjx-c.mjx-c72::before {
    padding: 0.442em 0.392em 0 0;
    content: "r";
}

mjx-c.mjx-c5B::before {
    padding: 0.75em 0.278em 0.25em 0;
    content: "[";
}

mjx-c.mjx-c5D.TEX-S1::before {
    padding: 0.85em 0.417em 0.349em 0;
    content: "]";
}

mjx-c.mjx-c33::before {
    padding: 0.665em 0.5em 0.022em 0;
    content: "3";
}

mjx-c.mjx-c2212::before {
    padding: 0.583em 0.778em 0.082em 0;
    content: "\2212";
}

mjx-c.mjx-c3D::before {
    padding: 0.583em 0.778em 0.082em 0;
    content: "=";
}

mjx-c.mjx-c37::before {
    padding: 0.676em 0.5em 0.022em 0;
    content: "7";
}

mjx-c.mjx-c35::before {
    padding: 0.666em 0.5em 0.022em 0;
    content: "5";
}

mjx-c.mjx-c36::before {
    padding: 0.666em 0.5em 0.022em 0;
    content: "6";
}

mjx-c.mjx-c38::before {
    padding: 0.666em 0.5em 0.022em 0;
    content: "8";
}

mjx-c.mjx-c32::before {
    padding: 0.666em 0.5em 0 0;
    content: "2";
}

mjx-c.mjx-c34::before {
    padding: 0.677em 0.5em 0 0;
    content: "4";
}

mjx-c.mjx-c2B::before {
    padding: 0.583em 0.778em 0.082em 0;
    content: "+";
}

mjx-c.mjx-c1D45B.TEX-I::before {
    padding: 0.442em 0.6em 0.011em 0;
    content: "n";
}

mjx-c.mjx-c21::before {
    padding: 0.716em 0.278em 0 0;
    content: "!";
}

mjx-c.mjx-c1D458.TEX-I::before {
    padding: 0.694em 0.521em 0.011em 0;
    content: "k";
}

mjx-c.mjx-cA0::before {
    padding: 0 0.25em 0 0;
    content: "\A0";
}

mjx-c.mjx-c77::before {
    padding: 0.431em 0.722em 0.011em 0;
    content: "w";
}

mjx-c.mjx-c68::before {
    padding: 0.694em 0.556em 0 0;
    content: "h";
}

mjx-c.mjx-c65::before {
    padding: 0.448em 0.444em 0.011em 0;
    content: "e";
}

mjx-c.mjx-c2265::before {
    padding: 0.636em 0.778em 0.138em 0;
    content: "\2265";
}