/* Theme Toggle - theme.ts */

.theme-toggle-container {
	--toggle-width: 3.5em;
	--toggle-height: 1.75em;
	--border-radius: calc(var(--toggle-height) / 2);
	--handle-width: calc(var(--toggle-height) * 0.65);
	--handle-radius: calc(var(--handle-width) / 2);
	--handle-margin: calc((var(--toggle-height) / 2.0) - var(--handle-radius));
	--handle-translation: calc(var(--toggle-width) - var(--handle-width) - (var(--handle-margin) * 2));

	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

/* animation to expand width, move handle, then contract width */
@keyframes toggle-slide-right {
	0% {
		width: var(--handle-width);
		transform: translateX(0);
	}

	50% {
		width: calc(var(--toggle-width) * 0.5);
	}

	90% {
		width: var(--handle-width);
	}

	100% {
		transform: translateX(var(--handle-translation));
	}
}

@keyframes toggle-slide-left {
	0% {
		width: var(--handle-width);
		transform: translateX(calc(var(--handle-translation) - ((var(--toggle-width) * 0.33) - var(--handle-width))));
	}

	70% {
		width: calc(var(--toggle-width) * 0.5);
	}

	100% {
		width: var(--handle-width);
		transform: translateX(0);
	}
}

/* just exapnd and contract */
@keyframes toggle-expand-right {
	0% {
		width: var(--handle-width);
	}

	100% {
		width: calc(var(--toggle-width) * 0.33);
	}
}

@keyframes toggle-expand-left {
	0% {
		width: var(--handle-width);
		transform: translateX(var(--handle-translation));
	}

	100% {
		width: calc(var(--toggle-width) * 0.33);
		transform: translateX(calc(var(--handle-translation) - ((var(--toggle-width) * 0.33) - var(--handle-width))));
	}
}

@keyframes toggle-contract {
	0% {
		width: calc(var(--toggle-width) * 0.33);
	}

	100% {
		width: var(--handle-width);
	}
}

.theme-toggle-input {
	display: none;
	z-index: 1000;
}

/* Fill in dark mode / default */
.toggle-background {
	position: relative;
	width: var(--toggle-width);
	height: var(--toggle-height);
	border-radius: var(--border-radius);
	background-color: var(--background-modifier-border);

	transition: background-color var(--color-fade-speed);
	z-index: 1000;

	animation-duration: 0.2s;
}

/* Handle default */
.toggle-background::before {
	content: "";
	position: absolute;
	left: var(--handle-margin);
	top: var(--handle-margin);
	height: var(--handle-width);
	width: var(--handle-width);

	border-radius: var(--handle-radius);
	background-color: var(--text-normal);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	animation: toggle-slide-left ease-in-out normal both;
	animation-duration: inherit;
	z-index: 1000;
}

/* handle light*/
.theme-toggle-input:checked~.toggle-background::before {
	animation: toggle-slide-right ease-in-out normal both;
	animation-duration: inherit;
}

.theme-toggle-input:active~.toggle-background::before {
	animation: toggle-expand-right ease-in-out normal both;
	animation-duration: inherit;
}

.theme-toggle-input:active:checked~.toggle-background::before {
	animation: toggle-expand-left ease-in-out normal both;
	animation-duration: inherit;
}

/* sun moon icon icon default */
.toggle-background::after {
	content: "";
	position: absolute;
	right: var(--handle-margin);
	top: calc(var(--handle-margin));
	height: var(--handle-width);
	width: var(--handle-width);
	transition: transform 0.3s;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>') no-repeat center center;
	transform: scale(0.9);
}

/* sun moon icon icon light */
.theme-toggle-input:checked~.toggle-background::after {
	transform: translateX(calc(var(--handle-translation) * -1)) scale(0.9);
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>') no-repeat center center;
}
