.obsidian-document .heading-collapse-indicator 
{
    margin-left: calc( 0px - var(--collapse-arrow-size) - 10px) !important;
    padding: 0px 0px !important;
}

.node-insert-event 
{
    animation-duration: unset !important;
    animation-name: none !important;
}

hr
{
    border: none;
	border-top: var(--hr-thickness) solid;
    border-color: var(--hr-color);
}

h1:hover .collapse-indicator, h2:hover .collapse-indicator, h3:hover .collapse-indicator, h4:hover .collapse-indicator, h5:hover .collapse-indicator, h6:hover .collapse-indicator, .collapse-indicator:hover, .is-collapsed .collapse-indicator, .cm-fold-indicator.is-collapsed .collapse-indicator, .cm-gutterElement:hover .collapse-indicator, .cm-gutterElement .is-collapsed .collapse-indicator, .cm-line:hover .cm-fold-indicator .collapse-indicator, .fold-gutter.is-collapsed, .fold-gutter:hover, .metadata-properties-heading:hover .collapse-indicator {
    opacity: 1;
	transition: opacity 0.15s ease-in-out;
}

.collapse-indicator, .fold-gutter
{
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
}

@media print 
{
    html body > :not(.print) 
    {
        display: unset !important;
    }

    .collapse-indicator
    {
        display: none !important;
    }

    .is-collapsed > element > .collapse-indicator
    {
        display: unset !important;
    }
}

/*#region Misc Hiding */

.mod-header .metadata-container
{
	display: none !important;
}

.canvas-empty-embed-action-list
{
	display: none !important;
}

/*#endregion */

/*#region Transclusions */

.markdown-embed .heading-collapse-indicator {
    translate: -1em 0;
}

.markdown-embed.internal-embed.inline-embed .markdown-embed-content,
.markdown-embed.internal-embed.inline-embed .markdown-embed-content .obsidian-document
{
	overflow: visible !important;
}

.markdown-embed-link
{
	display: none !important;
}

/*#endregion  */

/*#region Canvas */

.canvas-wrapper:not(.mod-readonly) .canvas-node-content.markdown-embed>.markdown-embed-content>.obsidian-document
{
	user-select: text !important;
}

.canvas-card-menu {
	display: none;
	cursor: default !important;

}

.canvas-controls {
	display: none;
	cursor: default !important;

}

.canvas-background
{
	pointer-events: visible !important;
	cursor: grab !important;
}

.canvas-background:active
{
	cursor: grabbing !important;
}

.canvas-node-connection-point 
{
	display: none;
	cursor: default !important;

}

.canvas-node-content
{
	backface-visibility: visible !important;
}

.canvas-menu-container {
	display: none;
}

.canvas-node-content-blocker
{
	cursor: pointer !important;
}

.canvas-wrapper
{
	position: relative;
	cursor: default !important;
}

.canvas-node-resizer
{
	cursor: default !important;
}

.canvas-node-container
{
	cursor: default !important;
}

.canvas-node .obsidian-document.is-readable-line-width .markdown-preview-sizer {
    max-width: 100%;
    margin-left: unset;
    margin-right: unset;
}

/*#endregion */

/*#region Code Copy */

/* Make code block copy button fade in and out */
.markdown-rendered pre:not(:hover) > button.copy-code-button
{
	display: unset;
	opacity: 0;
}

.markdown-rendered pre:hover > button.copy-code-button
{
	opacity: 1;
}

.markdown-rendered pre button.copy-code-button
{
	transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out, background-color 0.2s ease-in-out;
	text-overflow: clip;
}

.markdown-rendered pre > button.copy-code-button:hover
{
	background-color: var(--interactive-normal);
}

.markdown-rendered pre > button.copy-code-button:active
{
	background-color: var(--interactive-hover);
	box-shadow: var(--input-shadow);
	transition: none;
}

/*#endregion */

/*#region Lists */

#main-horizontal .is-collapsed .list-collapse-indicator svg.svg-icon, 
#main-horizontal .is-collapsed .collapse-indicator svg.svg-icon
{
	color: var(--collapse-icon-color-collapsed);
}

/*#endregion */
