
/*#region Variables */
body {
	--color-fade-speed: 0.2s;
}

/*#endregion */

/*#region Tree */

.tree-icon {
	border: 1px solid transparent;
	margin: 0px 4px 0px 0px;
	display: flex;
	align-self: center;
}

.tree-icon :is(svg, img) {
	width: 1em !important;
	height: 1em !important;
}

.tree-icon *:has(svg, img) {
	display: contents !important;
}

a.tree-item-self.is-clickable {
	text-decoration: none !important;
	text-decoration-line: none !important;
}

.tree-item-inner>p {
	display: contents !important;
}


.tree-container .feature-title {
	flex-grow: 0 !important;
	margin-right: .5em !important;
	font-size: inherit !important;
	color: var(--text-normal) !important;
}

.tree-item-children:empty {
	display: none !important;
}

.tree-item.filtered-out {
	display: none;
}

.outline-tree .tree-item[data-depth="1"]:not(.mod-collapsible)>.tree-item-self {
	padding-left: var(--nav-item-children-margin-left);
	font-weight: 900;
	font-size: 1.05em;
}

.tree-item-self {
	display: flex !important;
	align-items: center !important;
}

#file-explorer {
	padding: 0 !important;
}

/*#region Headers */

.heading p {
	margin: 0 !important;
}

#webpage-icon :is(svg, img) {
	width: 100%;
	height: 100%;
	box-shadow: none !important;
	border: none !important;
	border-radius: 0 !important;
	stroke: currentColor;
	margin: 0 !important;
	padding: 0 !important;
}

#webpage-icon *:has(:is(svg, img)) {
	display: contents !important;
}

#webpage-icon:has(:is(svg, img)) {
	font-size: 40px;
	width: 40px;
	height: 40px;
}

#webpage-icon {
	font-size: 40px;
	margin-bottom: 8px;
	font-family: emoji;
	width: fit-content;
}

body.show-inline-title .page-title {
	font-weight: var(--inline-title-weight);
	font-size: var(--inline-title-size);
	font-style: var(--inline-title-style);
	font-variant: var(--inline-title-variant);
	font-family: var(--inline-title-font);
	letter-spacing: -0.015em;
	color: var(--inline-title-color);
}

h1 li {
	translate: calc(0px - var(--list-indent)) 0;
}

.heading {
	position: relative;
}

.heading.is-collapsed::after {
	content: "..." !important;
	display: inline-block !important;
	position: absolute !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-left: 0.3em !important;
	color: var(--text-muted);
}

/* high specificity in order to override other style */
html>body>#main-horizontal>#center-content>.obsidian-document>.markdown-preview-sizer>div:not(:is(.footer, .header)) {
	margin-inline: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

html>body>#main-horizontal>#center-content>.obsidian-document>.markdown-preview-sizer>div {
	width: 100%;
	max-width: 100%;
}

.collapse-icon:not(.list-collapse-indicator) svg.svg-icon {
	color: var(--nav-collapse-icon-color);
	width: var(--collapse-arrow-size);
	height: var(--collapse-arrow-size);
	transition: transform 100ms ease-in-out 0s;
	stroke-width: 4px;
	min-width: 10px;
	min-height: 10px;
	max-width: 24px;
	max-height: 24px;
}

.heading-collapse-indicator.collapse-icon.is-collapsed>svg {
	transition: transform 0.1s ease-in-out;
	transform: rotate(-90deg);
}

.heading .heading-collapse-indicator {
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
	position: absolute;
	z-index: 1;
	padding: 0 !important;
	padding-left: 2em !important;
	padding-right: 1em !important;
	left: -2em !important;
}

.heading:hover>.heading-collapse-indicator{
	opacity: 1;
}

.tree-container {
	--nav-item-size: 1em;
	overflow: hidden auto;
	height: 100%;
}

.nav-file-title,
.nav-folder-title {
	line-height: var(--tree-vertical-spacing) !important;
}


/*#endregion */

/*#region Theme Toggle */

.theme-toggle-container {
	--toggle-width: 3.5em;
	--toggle-height: 1.75em;
	--border-radius: calc(var(--toggle-height) / 2);
	--handle-width: calc(var(--toggle-height) * 0.65);
	--handle-radius: calc(var(--handle-width) / 2);
	--handle-margin: calc((var(--toggle-height) / 2.0) - var(--handle-radius));
	--handle-translation: calc(var(--toggle-width) - var(--handle-width) - (var(--handle-margin) * 2));

	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

.feature-title,
.clickable-icon {
	transition: color var(--color-fade-speed) ease-in-out;
}

/* animation to expand width, move handle, then contract width */
@keyframes toggle-slide-right {
	0% {
		width: var(--handle-width);
		transform: translateX(0);
	}

	50% {
		width: calc(var(--toggle-width) * 0.5);
	}

	90% {
		width: var(--handle-width);
	}

	100% {
		transform: translateX(var(--handle-translation));
	}
}

@keyframes toggle-slide-left {
	0% {
		width: var(--handle-width);
		transform: translateX(calc(var(--handle-translation) - ((var(--toggle-width) * 0.33) - var(--handle-width))));
	}

	70% {
		width: calc(var(--toggle-width) * 0.5);
	}

	100% {
		width: var(--handle-width);
		transform: translateX(0);
	}
}

/* just exapnd and contract */
@keyframes toggle-expand-right {
	0% {
		width: var(--handle-width);
	}

	100% {
		width: calc(var(--toggle-width) * 0.33);
	}
}

@keyframes toggle-expand-left {
	0% {
		width: var(--handle-width);
		transform: translateX(var(--handle-translation));
	}

	100% {
		width: calc(var(--toggle-width) * 0.33);
		transform: translateX(calc(var(--handle-translation) - ((var(--toggle-width) * 0.33) - var(--handle-width))));
	}
}

@keyframes toggle-contract {
	0% {
		width: calc(var(--toggle-width) * 0.33);
	}

	100% {
		width: var(--handle-width);
	}
}

.theme-toggle-input {
	display: none;
	z-index: 1000;
}

/* Fill in dark mode / default */
.toggle-background {
	position: relative;
	width: var(--toggle-width);
	height: var(--toggle-height);
	border-radius: var(--border-radius);
	background-color: var(--background-modifier-border);

	transition: background-color var(--color-fade-speed);
	z-index: 1000;

	animation-duration: 0.2s;
}

/* Handle default */
.toggle-background::before {
	content: "";
	position: absolute;
	left: var(--handle-margin);
	top: var(--handle-margin);
	height: var(--handle-width);
	width: var(--handle-width);

	border-radius: var(--handle-radius);
	background-color: var(--text-normal);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	animation: toggle-slide-left ease-in-out normal both;
	animation-duration: inherit;
	z-index: 1000;
}

/* handle light*/
.theme-toggle-input:checked~.toggle-background::before {
	animation: toggle-slide-right ease-in-out normal both;
	animation-duration: inherit;
}

.theme-toggle-input:active~.toggle-background::before {
	animation: toggle-expand-right ease-in-out normal both;
	animation-duration: inherit;
}

.theme-toggle-input:active:checked~.toggle-background::before {
	animation: toggle-expand-left ease-in-out normal both;
	animation-duration: inherit;
}

/* sun moon icon icon default */
.toggle-background::after {
	content: "";
	position: absolute;
	right: var(--handle-margin);
	top: calc(var(--handle-margin));
	height: var(--handle-width);
	width: var(--handle-width);
	transition: transform 0.3s;
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon"><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"/></svg>') no-repeat center center;
	transform: scale(0.9);
}

/* sun moon icon icon light */
.theme-toggle-input:checked~.toggle-background::after {
	transform: translateX(calc(var(--handle-translation) * -1)) scale(0.9);
	background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun"><circle cx="12" cy="12" r="4"/><path d="M12 2v2"/><path d="M12 20v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="m17.66 17.66 1.41 1.41"/><path d="M2 12h2"/><path d="M20 12h2"/><path d="m6.34 17.66-1.41 1.41"/><path d="m19.07 4.93-1.41 1.41"/></svg>') no-repeat center center;
}

/*#endregion */

/*#region Graph View */

.graph-view-wrapper {
	--graph-view-max-height: 35vh;
}

#graph-canvas {
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	transition: opacity 0.2s ease-in-out;
}

.graph-view-container.expanded {
	position: fixed;
	width: 90%;
	height: 90%;
	max-height: unset;
	right: 5%;
	top: 5%;
	background-color: var(--background-secondary);
	z-index: 100;
}

body:is(.is-phone, .is-tablet) .graph-view-container.expanded {
	width: 95%;
	height: 95%;
	right: 2.5%;
	top: 2.5%;
}

.graph-view-container {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	max-height: var(--graph-view-max-height);
	display: flex;
	transition: background-color var(--color-fade-speed) ease-in-out;
	touch-action: none;
	border: 1px solid var(--modal-border-color);
	border-radius: var(--modal-radius);
	overflow: hidden;
}

.graph-icon {
	position: absolute;
	cursor: pointer;
	color: var(--text-muted);
	transition: color 0.2s ease-in-out;
}

.graph-icon svg {
	width: 20px;
	height: 20px;
}

.graph-icon:hover {
	color: var(--interactive-accent);
}

.graph-icon.graph-expand {
	top: 6px;
	right: 6px;
}

.graph-icon.graph-global {
	top: 6px;
	right: 32px;
}


.graph-view-placeholder {
	padding: 0;
	width: 100%;
	aspect-ratio: 1;
	max-height: var(--graph-view-max-height);
	position: relative;
	flex: none;
}

.graph-view-placeholder:has(.expanded) {
	border-radius: var(--modal-radius);
	border: 1px solid var(--modal-border-color);
}

.scale-down {
	transition: transform 0.2s ease-in-out;
	transform: scale(0.9);
}

.scale-up {
	transition: transform 0.2s ease-in-out;
	transform: scale(1);
}




/*#endregion */

/*#region Canvas */

body :is(.canvas-node-container, .canvas-wrapper) {
	cursor: unset !important;
}

body .canvas-wrapper {
	max-width: 100% !important;
}

.canvas {
	translate: 0 0;
	scale: 1 1;
	will-change: translate, scale;
}

.canvas-controls {
	display: none;
	cursor: default !important;
}

.canvas-card-menu {
	display: none;
	cursor: default !important;
}

.canvas-node-content-blocker {
	pointer-events: none;
}

.canvas.small-scale :is(.canvas-node-label, .canvas-path-label, .obsidian-document) {
	display: none;
}

/*#endregion */

/*#region Phone */

body.is-phone .sidebar {
	font-size: 1.15em;
	--tree-vertical-spacing: 1.8em;
	--sidebar-width: 85vw !important;
}

body.is-phone {
	--collapse-arrow-size: 14px;
	--tree-vertical-spacing: 0.8em;
}

/*#endregion */

/*#region Loading */

.loading-icon {
	--width: 80px;
	--height: 80px;

	display: inline-block;
	position: fixed;
	left: calc(50% - var(--width) / 2);
	top: calc(50% - var(--height) / 2);
	width: var(--width);
	height: var(--height);

	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	pointer-events: none;
}

.loading-icon.show {
	opacity: 1;
}

.loading-icon div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--interactive-accent);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-icon div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}

.loading-icon div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}

.loading-icon div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}

.loading-icon div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}

.loading-icon:not(.show) div {
	animation-play-state: paused;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(24px, 0);
	}
}

/*#endregion  */

/*#region Media Queries */

@media print {
	html body.publish :is(.sidebar, script, style, include) {
		display: none !important;
	}

	:root,
	html body.publish> :is(#main-horizontal, #center-content, .obsidian-document):not(script, style, include) {
		display: contents !important;
	}

	:root,
	html body.publish #center-content>.obsidian-document {
		background-color: transparent !important;
	}

	body {
		display: inline !important;
		background: var(--background-primary);
	}

	body #center-content>.obsidian-document>.markdown-preview-sizer {
		padding: 0;
		margin: 0;
		padding: var(--file-margins);
		padding-bottom: 0;
	}

	html body.publish :is(#center-content, .obsidian-document) {
		margin: 0 !important;
		padding: 0 !important;
	}


}

/*#endregion  */

/*#region Search */

#search-results {
	padding: 1em;
}

.search-result {
	display: flex;
}

.search-result a {
	padding: calc(var(--tree-vertical-spacing) / 2);
	border-radius: var(--radius-s);
	width: 100%;
	color: var(--nav-item-color);
	text-decoration: none;
}

.search-result a:hover {
	background-color: var(--nav-item-background-hover);
	text-decoration: underline;
	color: var(--nav-item-color-active);
}

.tree-hint-label {
	font-size: var(--font-smallest);
	color: var(--text-accent);
	width: 100%;
	width: -webkit-fill-available;
	width: -moz-available;
	width: fill-available;
	text-decoration-line: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tree-hint-label.internal-link::before {
	content: "H";
	font-size: 1.2em;
	font-weight: 700;
	position: relative;
	display: inline-block;
	margin-right: 0.5em;
	translate: 0 0.05em;
	color: var(--nav-item-color);
}

.tree-hint-label:hover {
	text-decoration-line: underline;
}

.tree-hint-container {
	width: 100%;
	padding: var(--nav-item-padding);
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	margin-left: 22px;
}

/* find hints inside folders with no other folders in them */
.tree-container .nav-folder:not(:has(.nav-folder)) .nav-file>.tree-link>.tree-hint-container {
	padding-left: calc(1em * 2);
}

a.tree-hint-label:hover {
	text-decoration-line: underline;
}

.search-mark {
	margin: 0 !important;
	padding: 0 !important;
	scroll-margin: 2em !important;
}

.search-input-container:has(+ #search-results)>input[type="search"] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#search-container {
	--input-height: 2.6em;
}

input[type=search] {
	box-shadow: none !important;
	height: var(--input-height);
	font-size: 1em;
	transition: background, background-color, border;
	transition-duration: var(--color-fade-speed);
	transition-timing-function: ease-in-out;
}

.search-input-container {
	display: flex !important;
}

.search-input-wrapper {
	position: relative;
	width: 100%;
}

.search-input-container::before {
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='8'></circle><line x1='21' y1='21' x2='16.65' y2='16.65'></line></svg>");
	mask-repeat: no-repeat;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

/*#endregion */

/*#region Sidebar Resize */

.sidebar .sidebar-handle:hover~.leaf-content,
.sidebar.is-resizing .leaf-content {
	box-shadow: 0 0 0 var(--divider-width-hover) var(--divider-color-hover);
}

.sidebar-handle {
	width: min(max(calc(var(--sidebar-margin) / 2.0), 3px), 12px);
	height: calc(100vh - 2 * var(--radius-l));
	margin-top: var(--radius-l);
	margin-bottom: var(--radius-l);
	top: 0;
	position: absolute;
	cursor: ew-resize;
	z-index: 1;
	transition: background-color .2s ease-in-out;
}

#left-sidebar .sidebar-handle {
	right: 0;
}

#right-sidebar .sidebar-handle {
	left: 0;
}



/*#endregion */

/* Themes */

/*#region General */

.nav-folder-children .nav-folder-title-content::before {
	margin-right: 0.5em;
}

.tree-item-contents:has(.tree-item-icon) .tree-item-title::before,
.tree-item-contents:has(.tree-item-icon)::before,
.tree-item:has(.tree-item-contents > .tree-item-icon)::before {
	display: none !important;
}

/*#endregion */

/*#endregion */

/*#region Backlinks */

#backlinks {
	border: 1px solid var(--background-modifier-border);
	border-radius: var(--radius-m);
	transition: opacity 0.2s ease-in-out;
}

#backlinks .feature-header {
	border-bottom: 1px solid;
	border-color: inherit;
	padding: var(--size-4-2);
	padding-left: var(--size-4-3);
}

#backlinks .feature-header .feature-title {
	margin: 0.25em;
}

.backlinks-content {
	padding: var(--size-4-1);
	gap: var(--size-4-1);
	display: flex;
	flex-direction: column;
}

a.backlink {
	display: flex;
	gap: 0.5em;
	color: var(--text-muted);
	text-decoration: none;
	padding: var(--size-4-1);
	padding-left: var(--size-4-2);
	border-radius: var(--radius-s);
}

a.backlink:hover {
	background-color: var(--background-modifier-hover);
	text-decoration: underline;
}

.backlink-icon {
	display: flex;
	align-items: center;
}

/*#endregion */

/*#region Tags */

#tags, #aliases {
	display: flex;
	align-items: baseline;
	gap: 1em;
}

#tags .tags-content, #aliases .aliases-content {
	display: flex;
	gap: 0.5em;
}

#aliases .aliases-content .alias
{
	font-size: var(--tag-size);
	padding-inline: 0.25em;
}

/*#endregion */

/*#region Features */

.data-bar .feature-title {
	color: var(--text-muted);
	font-weight: 400;
	font-size: 0.9em;
}

.feature-header:empty,
.feature-title:empty {
	display: none;
}

/*#endregion */

/*#region Header & Footer */

.header .data-bar
{
	display: flex;
	flex-wrap: wrap;
}

.header .data-bar > :not(:first-child)
{
	border-left: 1px solid var(--background-modifier-border);
	padding-left: 0.5em;
	margin-left: 0.5em;
}

.header .data-bar:not(:empty) {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid var(--background-modifier-border);
}

.footer:not(:has(div:first-child:last-child)):not(:empty),
.footer .data-bar:not(:empty) {
	border-top: 1px solid var(--background-modifier-border);
	padding-top: var(--size-4-6);
	margin-top: var(--size-4-6);
}

.header:last-child {
	margin-bottom: var(--p-spacing);
}

/*#endregion */

/*#region Hover Preview*/

.file-preview.popover.hover-popover .markdown-embed {
	max-height: unset !important;
	width: 100% !important;
	min-width: var(--popover-width);
	min-height: 8em;
}

.file-preview.popover.hover-popover {
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
	resize: both;
	min-width: var(--popover-width);
	min-height: 8em;
	height: var(--popover-height);
	width: var(--popover-width);
}

.preview-action-container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
	padding-right: 10px;
	width: 100% !important;
	display: flex;
	gap: 5px;
	z-index: 1000;
}

.popover-action {
	display: block;
	background-color: var(--icon-color);
	width: var(--icon-size);
	height: var(--icon-size);
	mask-size: 100% 100%;
	mask-position: center;
	mask-repeat: no-repeat;
}

.popover-action:hover {
	background-color: var(--icon-color-hover);
}

.popover-action:active {
	background-color: var(--interactive-accent);
}

.popover-action.drag-handle {
	margin-right: auto;
	cursor: move;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-grip"><circle cx="12" cy="5" r="1"/><circle cx="19" cy="5" r="1"/><circle cx="5" cy="5" r="1"/><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/><circle cx="12" cy="19" r="1"/><circle cx="19" cy="19" r="1"/><circle cx="5" cy="19" r="1"/></svg>');
}

.popover-action.pin-button {
	cursor: pointer;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pin"><path d="M12 17v5"/><path d="M9 10.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H8a2 2 0 0 0 0 4 1 1 0 0 1 1 1z"/></svg>');
	transition: mask-image 0.3s ease;
}

.popover-action.pin-button.pinned {
	background-color: var(--interactive-accent);
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pin-off"><path d="M12 17v5"/><path d="M15 9.34V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H7.89"/><path d="m2 2 20 20"/><path d="M9 9v1.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h11"/></svg>');
}

.popover-action.go-to-button {
	cursor: pointer;
	mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-symlink"><path d="m10 18 3-3-3-3"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M4 11V4a2 2 0 0 1 2-2h9l5 5v13a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h7"/></svg>');
}


/*#endregion*/

/* Plugins: */

/*#region Kanban */

#center-content .kanban-plugin {
	position: absolute;
	padding: 0;
	margin: 0;
	height: 100%;
}

#center-content .kanban-plugin {
	font-family: var(--font-text, var(--default-font));
	font-size: .875rem;
	line-height: var(--line-height-tight);
	width: unset;
	overflow-y: unset;
	overflow-wrap: unset;
	color: unset;
	user-select: unset;
	-webkit-user-select: unset;
}

#center-content .kanban-plugin__item-button-wrapper,
.kanban-plugin__lane-grip,
.kanban-plugin__lane-settings-button.clickable-icon,
.kanban-plugin__item-postfix-button.clickable-icon {
	display: none;
}

/*#endregion */

/*#region Excalidraw */

.excalidraw-svg rect,
.excalidraw-plugin rect {
	fill: transparent;
}

/** Preserve mask fill **/
.excalidraw-plugin mask rect[fill="#fff"],
.excalidraw-svg mask rect[fill="#fff"],
.excalidraw-plugin mask rect[fill="#ffffff"],
.excalidraw-svg mask rect[fill="#ffffff"] {
	fill: #ffffff;
}

.excalidraw-plugin mask rect[fill="#000"],
.excalidraw-svg mask rect[fill="#000"],
.excalidraw-plugin mask rect[fill="#000000"],
.excalidraw-svg mask rect[fill="#000000"] {
	fill: #000000;
}

body.theme-dark .excalidraw-svg svg.dark,
body.theme-dark .excalidraw-plugin svg.dark,
body.theme-light .excalidraw-svg svg.light,
body.theme-light .excalidraw-plugin svg.light {
	filter: invert(93%) hue-rotate(180deg);
}


.excalidraw-plugin>svg {
	width: 100%;
	height: 100%;
}

.excalidraw-plugin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	padding: 10px;
}

/*#endregion  */

/*#region Obsidian Columns Plugin */
.columnParent {
	display: flex;
	padding: 15px 20px;
	flex-wrap: wrap;
	gap: 20px;
}

.columnParent {
	white-space: normal;
}

.columnChild {
	flex-grow: 1;
	flex-basis: 0px;
}

/*#endregion */

/*#region Banners */

.obsidian-banner .lock-button {
	display: none;
}

.obsidian-document:has(.obsidian-banner-wrapper) {
	padding-top: 0 !important;
}

/*#endregion */

/*#region Mind Map  */

.obsidian-document:not([data-type='markdown']):has(.mm-mindmap) {
	overflow-y: none;
}

.obsidian-document:not([data-type='markdown']) .mm-mindmap {
	transform: scale(1);
	translate: -4000px -4000px;
	top: 70%;
	left: 50%;
	position: absolute;
	overflow: hidden;
	width: 100vw;
}

/*#endregion  */
